%h1 Personal Movie Database v2.0
:javascript
  MOVIES = #{@movies};

#control
  %span.right
    %a(href="#" data-sort="imdb.name") name
    %a(href="#" data-sort="imdb.score") score
    %a(href="#" data-sort="mtime") date
    %img.loader(src="images/loader.gif")
    %img.rescan(src="images/rescan.png" alt="rescan movies")
  %span.search
    %span.glass
      %span
    %input(type='text')

%script(type = "text/x-mustache")
  .movies
    .header
      %span.dir
        %img(src="images/dir.png")
        %span.count {{count}}
        movies in {{dir}}
    {{#movies}}
    .movie(data-dir="{{dir}}" data-path="{{path}}")
      %span.name
        %a(href = "{{imdb.url}}") {{imdb.name}}
      %span.year {{imdb.year}}
      %span.genre {{imdb.genres}}
      %span.score {{imdb.score}}
      %span.votes 
        {{imdb.votes}}
        .hidden
          %img.remove(src="images/remove.png")
      .details
        .detail
          %span.keyword plot:
          %span {{imdb.plot}}
        .detail
          %span.keyword dir:
          %span {{path}}
        .detail
          %span.keyword added:
          %span {{mtime_s}}
    {{/movies}}
