%h1 Personal Movie Database v2.0
:javascript
  MOVIES = #{@movies};

#control
  %img.loader(src="images/loader.gif")
  %img.rescan(src="images/rescan.png" alt="rescan movies")

%script(type = "text/x-mustache")
  .movies
    .header
      %span.dir
        %img(src="images/dir.png")
        {{count}} movies in {{dir}}
    {{#movies}}
    .movie
      %span.name
        %a(href = "{{imdb.url}}") {{imdb.name}}
      %span.year {{imdb.year}}
      %span.genre {{imdb.genres}}
      %span.score {{imdb.score}}
      %span.votes {{imdb.votes}}
      .details
        .detail
          %span.keyword plot:
          %span {{imdb.plot}}
        .detail
          %span.keyword dir:
          %span {{path}}
        .detail
          %span.keyword added:
          %span {{mtime}}
    {{/movies}}
