%table.movies
  %tr.dir
    %td{:colspan => 3} 25 movies at c:\movies
  %tr
    %td.name Discovery Channel Kings of Construction South Ferry Terminal
    %td.genres Draama, Action, Thriller, Comedy, Romance, Adventure
    %td.score 8.5 (22.590)
  %tr.even
    %td.name veel v2ga pikema nimega v2ga v2ga pika nimega pikema nimega film 1
    %td.genres Draama, Action, Thriller, Comedy, Romance, Adventure
    %td.score 8.5 (22.590)
  %tr
    %td.name Discovery Channel Kings of Construction South Ferry Terminal
    %td.genres Draama, Action, Thriller, Comedy, Romance, Adventure
    %td.score 8.5 (22.590)

%table.movies
  %tr.dir
    %td{:colspan => 3} 25 movies at c:\movies
  %tr
    %td.name Discovery Channel Kings of Construction South Ferry Terminal
    %td.genres Draama, Action, Thriller, Comedy, Romance, Adventure
    %td.score 8.5 (22.590)
  %tr.even
    %td.name veel v2ga pikema nimega v2ga v2ga pika nimega pikema nimega film 1
    %td.genres Draama, Action, Thriller, Comedy, Romance, Adventure
    %td.score 8.5 (22.590)
  %tr
    %td.name veel v2ga pikema nimega v2ga v2ga pika nimega pikema nimega film 1
    %td.genres Draama, Action, Thriller, Comedy, Romance, Adventure
    %td.score 8.5 (22.590)
  %tr.even
    %td.name veel v2ga pikema nimega v2ga v2ga pika nimega pikema nimega film 1
    %td.genres Draama, Action, Thriller, Comedy, Romance, Adventure
    %td.score 8.5 (22.590)